<nav class="bg-black">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-white capitalize"
  >
    <a
      href="http://localhost:8080/profile"
      class="border-b-2 border-transparent hover:border-blue-500 mx-1.5 sm:mx-6"
    >Profile</a>

    <a
      href="http://localhost:8080/chat"
      class="border-b-2 border-transparent hover:border-blue-500 mx-1.5 sm:mx-6"
    >Chat</a>
  </div>
</nav>

<h1 class="text-center mt-5 mb-5 font-bold">CHAT</h1>

<div
  class="w-11/12 sm:w-1/2 m-auto h-4/6 border-2 border-black rounded-lg overflow-auto"
>
  <div id="container-msj" class="flex">
    <div class="break-all m-2">
      <img
        id="image"
        src="http://localhost:8080/static/{{this.image}}"
        alt=""
        class="hidden"
      />
      <span id="username" class="text-sm hidden">{{this.username}}</span>
      <p id="message-box" class="pt-none break-word"></p>
    </div>
  </div>
</div>

<div class="w-11/12 sm:w-1/2 mt-5 m-auto border-2 border-black rounded-lg">
  <div id="container-input" class="flex justify-around my-2">
    <input
      class="border-2 border-black rounded-full w-2/3 px-2 py-1"
      type="text"
      id="message-input"
    />
    <button
      type="submit"
      class="bg-black text-white rounded px-3 hover:bg-neutral-700"
    >Send</button>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>