<nav class="bg-white shadow dark:bg-gray-800">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-white capitalize"
  >
    <a
      href="http://localhost:8080/profile"
      class="border-b-2 border-transparent hover:border-blue-500 mx-1.5 sm:mx-6"
    >Profile</a>

    <a
      href="http://localhost:8080/chat"
      class="border-b-2 border-transparent hover:border-blue-500 mx-1.5 sm:mx-6"
    >Chat</a>
  </div>
</nav>

<h1 class="text-center mt-5 mb-5 font-bold">YOUR PROFILE</h1>

<div class="w-1/4 mt-5 m-auto border-2 border-black rounded-lg">
  <div>
    <img
      class="m-auto rounded-lg"
      src="http://localhost:8080/static/{{this.image}}"
    />
  </div>
  <div class="text-center my-5">
    <p>{{this.username}}</p>
    <p>{{this.email}}</p>
  </div>
  <div class="text-center my-5">
    {{#if status}}
      <p class="text-green-600">Online</p>
    {{else}}
      <p class="text-zinc-600">Offline</p>
    {{/if}}
  </div>

</div>

<div class="flex justify-center my-5">
  <a
    href="http://localhost:8080/logout"
    class="bg-red-500 py-1.5 px-4 rounded font-bold hover:bg-red-400"
  >Logout</a>
</div>