<h1 class="text-center mt-10 font-bold">REGISTER</h1>
<h2 class="text-center mt-2">Welcome to Global Chat</h2>

<div class="w-2/4 mt-5 m-auto flex justify-center">
  <form
    action="http://localhost:8080/register"
    method="post"
    enctype="multipart/form-data"
    class="pt-5"
  >
    <div class="pb-2">
      <div>
        <label for="username">Username</label>
      </div>
      <div>
        <input
          type="text"
          id="username"
          name="username"
          class="border-2 border-black rounded-full px-3 py-1"
        />
      </div>
    </div>
    <div class="pb-2">
      <div>
        <label for="email">Email</label>
      </div>
      <div>
        <input
          type="email"
          id="email"
          name="email"
          class="border-2 border-black rounded-full px-3 py-1"
        />
      </div>
    </div>
    <div class="pb-2">
      <div>
        <label for="password">Password</label>
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          class="border-2 border-black rounded-full px-3 py-1"
        />
      </div>
    </div>
    <div class="pb-2">
      <div>
        <label for="file">Profile Picture</label>
      </div>
      <div>
        <input
          type="file"
          id="file"
          name="file"
          class="border-2 border-black rounded-full px-3 py-1"
        />
      </div>
    </div>
    <div class="mt-5 flex justify-center">
      <button
        type="submit"
        class="bg-black text-white rounded-full px-3 py-1 hover:bg-neutral-700"
      >Register</button>
    </div>
  </form>
</div>